.calculator button{
    width: 27%;
    padding: 20px;
    margin: 5px;
    border: 2px solid;
    background: rgb(252, 220, 104);

}
.calculator button:hover{

    border: 1px solid;
    background: rgb(255, 200, 0);
}
.calculator{
    width: 300px;
    border: 2px solid;
    margin: 20%;
}
 .display{
    height: 60px;
    padding: 10px;
    background: rgb(253, 226, 136);
    border: 2px solid;
}